DISCORD_CLIENT_ID=
DISCORD_RPC_ENABLED=true
DISCORD_RPC_LARGE_IMAGE_KEY=
DISCORD_RPC_SMALL_IMAGE_KEY=
HOST=0.0.0.0
PORT=3131
LAST_FM_KEY=
LAST_FM_SECRET=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SIGN_TOKEN=your_signpath_token
ORGANIZATION_ID=your_signpath_organization_id
INPUT_PATH=C:\Users\..\Noctune_3.2.0_x64-setup.exe
OUTPUT_PATH=C:\Users\..\Noctune_3.2.0_x64-setup.exe